<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kitalált Közmű Kft. - Céginformációk</title>
  <link rel="stylesheet" href="styles.css">
  <script>
      function searchReferences() {
          let input = document.getElementById('searchInput').value.toLowerCase();
          let items = document.getElementsByClassName('reference-item');

          for (let item of items) {
              let title = item.getElementsByTagName('h3')[0].innerText.toLowerCase();
              if (title.includes(input)) {
                  item.style.display = 'flex';
              } else {
                  item.style.display = 'none';
              }
          }
      }
  </script>
</head>
<body>
<div class="container">
  <h2 class="text-xl">
    Céginformációk:
  </h2>
</div>
<div class="about-container">

  <div class="about-left text-md text-justify">
    <p>
      Cégünk 2011 óta aktívan működik az építőipar területén. A vállalkozás ügyvezetője, Kitalált Károly, a társaság
      alapítása előtt számos jelentős projekt irányításában vett részt, melyek révén több mint 20 éves tapasztalatra
      tett szert a közmű- és útépítési munkákban. Fő tevékenységi körünk a víz- és szennyvízhálózatok, valamint a
      vízépítési feladatokhoz kapcsolódó olajfogók és tüzivíztározók kivitelezése, illetve utak és parkolók építése.
      Modern száloptikás csatornakamerával is rendelkezünk, amely lehetővé teszi a speciális helyszínek felmérését és
      vizsgálatát. Komplett szolgáltatást nyújtunk a kivitelezéshez kapcsolódó tervezési és engedélyeztetési
      feladatokban, valamint az üzemeltetők részére történő átadás teljeskörű lebonyolításában.
    </p>
    <p>
      A cég vezetése és megbízható szakmai partnerei nagy tapasztalattal rendelkeznek, és pontosan ismerik a
      közműrendszerek követelményeit, amelyeket hatékonyan tudnak összehangolni a megrendelők elvárásaival.
      Vállalkozásunk elkötelezett a magas minőségű munkavégzés, a korrekt üzleti kapcsolatok kialakítása és fenntartása,
      valamint a hosszú távú piaci jelenlét iránt.
    </p>
    <p>
      Szakmai hitelességünket jól mutatja, hogy a MEDICOR Pharma Zrt. telephelyén található teljes víz- és
      csatornahálózat karbantartási munkálatait társaságunk végzi. A gyógyszergyár zavartalan működésének biztosítása
      különös szakmai figyelmet és felelősséget követel, így tevékenységünk ebben a környezetben kiemelt jelentőséggel
      bír.
    </p>
  </div>
  <div class="about-right">
    <p>
      <%= image_tag "szecnehyilogo_transp.png", alt: "széchényi logó" %>
    </p>
    <p class="text-sm text-center">
      Cégünk két alkalommal is eredményesen szerepelt a Széchenyi 2020 pályázati programban, melyek révén jelentős
      támogatásban részesültünk infrastrukturális és fejlesztési céljaink megvalósításához.
    </p>
    <a href="/kp/grants" class="btn btn-primary btn-hero">
      Tovább olvasom...
    </a>
  </div>
</div>
<div class="section-divider"></div>

<section class="container about-header">
  <h2 class="text-xl">
    Munkatársaink:
  </h2>
  <div class="team-columns text-md">
    <div class="team-column">
      <p>
        <strong>Ügyvezető Igazgató:</strong> Kitalált Károly
      </p>
      <p>
        <strong>Gazdasági Vezető:</strong> Segíts Elvira
      </p>
      <p>
        <strong>Asszisztens:</strong> 1 fő
      </p>
      <p>
        <strong>Ügyintéző:</strong> 2 fő
      </p>
    </div>
    <div class="team-column">
      <p>
        <strong>Projekvezető :</strong> 1 fő
      </p>
      <p>
        <strong>Brigádvezető:</strong> 4 fő
      </p>

    </div>
    <div class="team-column">
      <p>
        <strong>Szakmunkások:</strong> 7 fő
      </p>
      <p>
        <strong>Gépkezelő:</strong> 4 fő
      </p>

    </div>
  </div>
</section>

<div class="section-divider "></div>

<section class="container about-header">
  <h2 class="text-xl">
    Eszközparkunk:
  </h2>
  </div>
  <div class="equipment-grid">
    <div class="equipment-item">
      <%= image_tag "IMG_5847-e1617185594977-300x242.jpg", alt: "Mercedes KTA" %>
      <p class="text-sm">
        Mercedes Benz Actros
      </p>
      <p class="text-sm">
        <strong>Gyártás éve: </strong> 2008
      </p>
    </div>
    <div class="equipment-item">
      <%= image_tag "jcb-3cx.jpg", alt: "Árokásó és rakodógép" %>
      <p class="text-sm">
        Árokásó és rakodógép
      </p>
      <p class="text-sm">
        <strong>Gyártás éve: </strong> 2015
      </p>
    </div>
    <div class="equipment-item">
      <%= image_tag "maxresdefault-e1501225253362.jpg", alt: "12,5 t gumikerekes forgó-kotrógép" %>
      <p class="text-sm">
        12,5 t gumikerekes forgó-kotrógép
      </p>
      <p class="text-sm">
        <strong>Gyártás éve: </strong> 2015
      </p>
    </div>
    <div class="equipment-item">
      <%= image_tag "case-cx26.jpg", alt: "2,7 t láncos kotrógép" %>
      <p class="text-sm">
        Case CX26 2,7 t láncos kotrógép
      </p>
      <p class="text-sm">
        <strong>Gyártás éve: </strong> 2017
      </p>
    </div>
    <div class="equipment-item">
      <%= image_tag "case-wx168.jpg", alt: "18 t gumikerekes forgó- kotrógép" %>
      <p class="text-sm">
        Case WX168 18 t gumikerekes forgó- kotrógép
      </p>
      <p class="text-sm">
        <strong>Gyártás éve: </strong> 2017
      </p>
    </div>
    <div class="equipment-item">
      <%= image_tag "case-580stb2b4a140-300x225.jpg", alt: "Kotró rakodógép" %>
      <p class="text-sm">
        Case 580 Kotró rakodógép
      </p>
      <p class="text-sm">
        <strong>Gyártás éve: </strong> 2017
      </p>
    </div>
    <div class="equipment-item">
      <%= image_tag "BOBCAT-S-450.jpeg", alt: "Bobcat s 450" %>
      <p class="text-sm">
        BOBCAT S 450 csúszó kormányzású rakodó
      </p>
      <p class="text-sm">
        <strong>Gyártás éve: </strong> 2019
      </p>
    </div>
    <div class="equipment-item">
      <%= image_tag "wheel-excavators-tb-295w-1-takeuchi-300x300.jpg", alt: "gumikerekes kotrógép" %>
      <p class="text-sm">
        Takeuchi TB 295W gumikerekes kotrógép
      </p>
      <p class="text-sm">
        <strong>Gyártás éve: </strong> 2020
      </p>
    </div>
  </div>

</section>


</body>



