<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kitalált Közmű Kft. - Referenciák</title>
  <link rel="stylesheet" href="styles.css">
  <script>
      function searchReferences() {
          let input = document.getElementById('searchInput').value.toLowerCase();
          let items = document.getElementsByClassName('reference-item');

          for (let item of items) {
              let title = item.getElementsByTagName('h3')[0].innerText.toLowerCase();
              if (title.includes(input)) {
                  item.style.display = 'flex';
              } else {
                  item.style.display = 'none';
              }
          }
      }
  </script>
</head>
<body>
<section class="container">
  <div class="search-bar-container">
    <h2>Referencia Munkáink</h2>
  </div>
</section>

<section class="container">

  <% @works.each do |work| %>
    <div class="" id="<%= dom_id(work) %>">
      <div class="project-container">

    <div class="project-image">
      <%= image_tag "munka1.jpg", alt: "Project Image" %>
    </div>

        <div class="project-description">
          <p><strong>Description:</strong><%=work.description%>  </p>
        </div>
        <div class="project-details">
          <p><strong>Name:</strong> <%= work.name %></p>
          <p><strong>Client:</strong> <%= work.client %></p>
          <p><strong>Location:</strong> <%= work.location %></p>
          <p><strong>Year:</strong> <%= work.year %></p>
          <p><strong>Value:</strong> <%= work.value %></p>
          <p><strong>Architect:</strong> <%= work.architect %></p>
        </div>
      </div>
  </div>

  <% end %>

</section>


</body>
</html>

